.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    padding: 0 10%;
  }
  
  /* Texto à esquerda */
  .left h1 {
    font-size: 3rem;
    color: black;
  }
  
  /* Imagem à direita */
  .right img {
    max-width: 200px;
    height: auto;
  }
  
  /* Botão centralizado na parte de baixo */
  .retry-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .retry-button button {
    width: 160px;
    height: 60px;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .retry-button button:hover {
    background-color: #0056b3;
  }